.nav {
  margin: 0 auto;

  &__list {
    @include flex-align-center;
    gap: 4rem;

    @include small-tablet {
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__item--activve &__link {
    font-weight: 500;
  }

  &__link {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 150%;
    color: var(--light-color);

    @include small-tablet {
      font-size: 2.2rem;
      padding: 1rem 0;
    }
  }
}