.services {

  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    display: block;
    background: var(--bg2-color);
    top: 0;
    left: 0;
    right: 0;
    min-height: 60rem;

    @include tablet {
      inset: 0;
    }
  }

  &__container {
    @include flex-column;
    align-items: center;

  }

  &__top {
    text-align: center;
    max-width: 48.9rem;
    margin-bottom: 3rem;
  }

  &__subtitle,
  &__descr {
    text-transform: uppercase;
    color: var(--light-color);
  }

  &__subtitle {
    margin-bottom: 1rem;
  }

  &__list {
    @include flex-all-center;
    gap: 3rem;

    @include tablet {
      flex-wrap: wrap;
    }
  }

  &__item {
    position: relative;
    @include flex-column;
    gap: 1rem;
    min-height: 68.2rem;
    align-items: center;
    padding: 3rem 5rem;
    background-color: var(--light-color);
    box-shadow: 0 1.6rem 3.5rem rgba(112, 144, 176, 0.2);
    border-radius: 3.5rem;
    overflow: hidden;

    @include mobile {
      min-height: 60rem;
      gap: 2rem;
    }

    @include small-mobile {
      min-height: 55rem;
    }

    &-top {
      @include flex-column;
      align-items: center;
      gap: 1rem;
    }

    &-title {
      font-weight: 600;
      font-size: 3rem;
      line-height: 4.5rem;
      text-align: center;
      color: var(--bg-color);

      @include small-mobile {
        font-size: 2.8rem;
      }
    }

    &-img {
      width: 18.8rem;
      overflow: hidden;
      border-radius: .8rem;
    }

    &-name {
      font-weight: 400;
      font-size: 2rem;
      line-height: 150%;
      text-align: center;
      color: var(--black2-color);
    }

    &-bottom {
      @include flex-column;
      align-items: center;
      gap: 3rem;
      margin-top: auto;

      @include small-mobile {
        gap: 1.5rem;
      }
    }

    &-price {
      font-weight: 300;
      font-size: 2rem;
      line-height: 150%;
      text-align: center;
      color: var(--bg-color);

      &--bold {
        font-size: 3.2rem;

        @include mobile {
          font-size: 2.8rem;
        }
        
        @include small-mobile {
          font-size: 2.4rem;
        }
      }
    }

    &-popular {
      position: absolute;
      top: 0;
      right: 0;
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 2.1rem;
      text-align: center;
      text-transform: capitalize;
      color: var(--light-color);
      background-color: var(--green-color);
      padding: 2.7rem 1rem;
      border-radius: 0 3.5rem;

      @include mobile {
        padding: 2rem .75rem;
      }
    }
  }

  &__sub {

    &-list {
      @include flex-column;
      gap: 1rem;
    }

    &-item {
      @include flex-align-center;
      gap: 1rem;
      font-weight: 300;
      font-size: 1.8rem;
      line-height: 2.7rem;
      color: var(--black2-color);

      &::before {
        content: "";
        background: url("../img/services-icon.svg") no-repeat center / cover;
        display: block;
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }

}