<section id="about" class="about section">
  <div class="container about__container">
    <div class="about__top">
      <div class="about__head">
        <h4 class="about__title text-small">about us</h4>
        <div class="about__descr text-large">Benefits of joining with us</div>
      </div>
      <ul class="about__top-list list-reset">
        <li class="about__top-item">
          <div class="about__top-item-number">5+</div>
          <div class="about__top-item-title">Years Of Journey</div>
        </li>
        <li class="about__top-item">
          <div class="about__top-item-number">500+</div>
          <div class="about__top-item-title">Happy Clients</div>
        </li>
        <li class="about__top-item">
          <div class="about__top-item-number">400+</div>
          <div class="about__top-item-title">Dedicated Members</div>
        </li>
      </ul>
    </div>
    <ul class="about__bottom-list list-reset">
      <li class="about__bottom-item">
        <img loading="lazy" src="./img/about-clock-icon.svg" class="about__bottom-icon" width="70" height="70"
          alt="Clock icon">
        <div class="about__bottom-content">
          <div class="about__bottom-title">flexible class</div>
          <div class="about__bottom-descr">you can adapt the class to your busy life very easily
            Workout everytime and everywhere.</div>
        </div>
      </li>
      <li class="about__bottom-item">
        <img loading="lazy" src="./img/about-dumbbell-icon.svg" class="about__bottom-icon" width="70" height="70"
          alt="Dumbbell icon">
        <div class="about__bottom-content">
          <div class="about__bottom-title">Best Trainers</div>
          <div class="about__bottom-descr">Our trainers is very profesional, very motivated and funny.</div>
        </div>
      </li>
      <li class="about__bottom-item">
        <img loading="lazy" src="./img/about-list-icon.svg" class="about__bottom-icon" width="70" height="70"
          alt="List icon">
        <div class="about__bottom-content">
          <div class="about__bottom-title">Track Progress</div>
          <div class="about__bottom-descr">See your Progress and workout features for tracking your healthy.</div>
        </div>
      </li>
      <li class="about__bottom-item">
        <img loading="lazy" src="./img/about-profile-icon.svg" class="about__bottom-icon" width="70" height="70"
          alt="Profile icon">
        <div class="about__bottom-content">
          <div class="about__bottom-title">Meet New Friends</div>
          <div class="about__bottom-descr">we have the big classes in the online workout, you can
            meet our new member for sharing and chill out.</div>
        </div>
      </li>
    </ul>
  </div>
</section>