<header class="header">
  <div class="container header__container">
    <a href="#" class="header__logo">
      StayHealthy
    </a>
    <div class="header__menu" data-burger="menu">
      <nav class="nav header__nav">
        <ul class="nav__list list-reset">
          <li class="nav__item nav__item--active">
            <a href="#home" class="nav__link">Home</a>
          </li>
          <li class="nav__item">
            <a href="#program" class="nav__link">Program</a>
          </li>
          <li class="nav__item">
            <a href="#nutritions" class="nav__link">Nutritions</a>
          </li>
          <li class="nav__item">
            <a href="#pricing" class="nav__link">Pricing</a>
          </li>
          <li class="nav__item">
            <a href="#about" class="nav__link">About</a>
          </li>
        </ul>
      </nav>
      <a href="#join" class="header__link button">Join Now</a>
    </div>
    <button class="burger" data-burger="btn" aria-label="Открыть меню">
      <span class="burger__line"></span>
    </button>
  </div>
</header>