<section id="home" class="hero">
  <div class="container hero__container">
    <div class="hero__top">
      <div class="hero__subtitle">WElCOME TO ThE CLuB</div>
      <h1 class="hero__title-hidden hidden">This is StayHealthy website</h1>
      <div class="hero__title">Choose Your Programs,<br/> Pick Your Meal,<br/> Let’s Get Healthy.</div>
      <p class="hero__descr">StayHealty provides Online Training, and Consultation About Diet and Exercise tailored
        based on user needs. We will provide a training model that can be accessed anytime and anywhere with the best
        trainers.</p>
      <div class="hero__btns">
        <a href="#join" class="hero__btn button">Join Now</a>
        <a href="#" class="hero__btn-empty">Contact Us</a>
      </div>
    </div>
    <div class="hero__bottom">
      <button class="hero__play-btn" aria-label="Play video">
        <img loading="lazy" src="./img/play-icon.svg" class="hero__play-icon" width="53" height="50" alt="Play video">
      </button>
      <picture>
        <source srcset="./img/hero-video-img.avif" type="image/avif">
        <source srcset="./img/hero-video-img.webp" type="image/webp">
        <img loading="lazy" src="./img/hero-video-img.jpg" class="hero__img" width="1100" height="600" alt="video">
      </picture>
    </div>
  </div>
</section>