<section id="nutritions" class="nutritions section">
  <div class="container nutritions__container">
    <div class="nutritions__left">
      <div class="nutritions__card nutritions__card--blue">
        <img loading="lazy" src="./img/trophy-icon.svg" class="nutritions__icon" width="30" height="30" alt="Trophy">
        Discipline
      </div>
      <picture>
        <source srcset="./img/nutritions-img.avif" type="image/avif">
        <source srcset="./img/nutritions-img.webp" type="image/webp">
        <img loading="lazy" src="./img/nutritions-img.png" class="nutritions__img" width="572" height="484"
          alt="Peoples">
      </picture>
      <div class="nutritions__card nutritions__card--black">
        <img loading="lazy" src="./img/time-icon.svg" class="nutritions__icon" width="30" height="30" alt="Time">
        Eating Healthy
      </div>
    </div>
    <div class="nutritions__right">
      <div class="nutritions__texts">
        <h3 class="nutritons__title text-small">Nutritions</h3>
        <div class="nutritions__descr text-large">meal preparation for workout</div>
        <p class="nutritions__text">Don’t worry we have the best nutritionist for your workout, firstly consult with our
          experts, we can make your meal preparation based on <span class="bold">Total Daily Energy Expenditure.</span>
        </p>
      </div>
      <a href="#join" class="nutritions__link button">Join Now</a>
    </div>
  </div>
</section>