<section class="programs section">
  <div class="container programs__container">
    <div class="programs__top">
      <h2 class="programs__title text-small">Programs</h2>
      <div class="programs__desr text-large">We Have a programs to help your workouts</div>
    </div>

<div class="programs__slider-wrapper">
  <button class="programs__btn programs__btn-prev"></button>
  <div class="swiper programs__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide programs__slide">
        <div class="programs__slide-inner">
          <picture>
            <source srcset="./img/programs-slider-img.avif" type="image/avif">
            <source srcset="./img/programs-slider-img.webp" type="image/webp">
            <img loading="lazy" src="./img/programs-slider-img.jpg" class="programs__slide-img" width="350" height="240" alt="program image">
          </picture>
          <div class="programs__slide-content">
            <div class="programs__slide-name">Full Body Workout</div>
            <div class="programs__slide-author">By The Rock</div>
            <p class="programs__slide-descr">You can do it in your own home, all in under 30 mins? just need a mat and som . . .</p>
            <a href="#" class="programs__slide-link">
              Check out this program!
              <img loading="lazy" src="./img/arrow-right-icon.svg" class="programs__slide-arrow" width="20" height="20" alt="Arrow right">
            </a>
          </div>
        </div>
      </div>
      <div class="swiper-slide programs__slide">
        <div class="programs__slide-inner">
          <picture>
            <source srcset="./img/programs-slider-img.avif" type="image/avif">
            <source srcset="./img/programs-slider-img.webp" type="image/webp">
            <img loading="lazy" src="./img/programs-slider-img.jpg" class="programs__slide-img" width="350" height="240" alt="program image">
          </picture>
          <div class="programs__slide-content">
            <div class="programs__slide-name">Full Body Workout</div>
            <div class="programs__slide-author">By The Rock</div>
            <p class="programs__slide-descr">You can do it in your own home, all in under 30 mins? just need a mat and som . . .</p>
            <a href="#" class="programs__slide-link">
              Check out this program!
              <img loading="lazy" src="./img/arrow-right-icon.svg" class="programs__slide-arrow" width="20" height="20" alt="Arrow right">
            </a>
          </div>
        </div>
      </div>
      <div class="swiper-slide programs__slide">
        <div class="programs__slide-inner">
          <picture>
            <source srcset="./img/programs-slider-img.avif" type="image/avif">
            <source srcset="./img/programs-slider-img.webp" type="image/webp">
            <img loading="lazy" src="./img/programs-slider-img.jpg" class="programs__slide-img" width="350" height="240" alt="program image">
          </picture>
          <div class="programs__slide-content">
            <div class="programs__slide-name">Full Body Workout</div>
            <div class="programs__slide-author">By The Rock</div>
            <p class="programs__slide-descr">You can do it in your own home, all in under 30 mins? just need a mat and som . . .</p>
            <a href="#" class="programs__slide-link">
              Check out this program!
              <img loading="lazy" src="./img/arrow-right-icon.svg" class="programs__slide-arrow" width="20" height="20" alt="Arrow right">
            </a>
          </div>
        </div>
      </div>
      <div class="swiper-slide programs__slide">
        <div class="programs__slide-inner">
          <picture>
            <source srcset="./img/programs-slider-img.avif" type="image/avif">
            <source srcset="./img/programs-slider-img.webp" type="image/webp">
            <img loading="lazy" src="./img/programs-slider-img.jpg" class="programs__slide-img" width="350" height="240" alt="program image">
          </picture>
          <div class="programs__slide-content">
            <div class="programs__slide-name">Full Body Workout</div>
            <div class="programs__slide-author">By The Rock</div>
            <p class="programs__slide-descr">You can do it in your own home, all in under 30 mins? just need a mat and som . . .</p>
            <a href="#" class="programs__slide-link">
              Check out this program!
              <img loading="lazy" src="./img/arrow-right-icon.svg" class="programs__slide-arrow" width="20" height="20" alt="Arrow right">
            </a>
          </div>
        </div>
      </div>
      <div class="swiper-slide programs__slide">
        <div class="programs__slide-inner">
          <picture>
            <source srcset="./img/programs-slider-img.avif" type="image/avif">
            <source srcset="./img/programs-slider-img.webp" type="image/webp">
            <img loading="lazy" src="./img/programs-slider-img.jpg" class="programs__slide-img" width="350" height="240" alt="program image">
          </picture>
          <div class="programs__slide-content">
            <div class="programs__slide-name">Full Body Workout</div>
            <div class="programs__slide-author">By The Rock</div>
            <p class="programs__slide-descr">You can do it in your own home, all in under 30 mins? just need a mat and som . . .</p>
            <a href="#" class="programs__slide-link">
              Check out this program!
              <img loading="lazy" src="./img/arrow-right-icon.svg" class="programs__slide-arrow" width="20" height="20" alt="Arrow right">
            </a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <button class="programs__btn programs__btn-next"></button>
</div>

  </div>

</section>