<section id="pricing" class="services section">
  <div class="container services__container">
    <div class="services__top">
      <h3 class="services__title hidden">Services section</h3>
      <div class="services__subtitle text-small">PRiCING</div>
      <div class="services__descr text-large">CHOOSE YOuR PACKAGE
        FOR WORKoUT</div>
    </div>
    <ul class="services__list list-reset">
      <li class="services__item">
        <div class="services__item-top">
          <div class="services__item-title">Basic</div>
          <picture>
            <source srcset="./img/services-item-img.avif" type="image/avif">
            <source srcset="./img/services-item-img.webp" type="image/webp">
            <img loading="lazy" src="./img/services-item-img.jpg" class="services__item-img" width="188" height="120"
              alt="Basic">
          </picture>
          <div class="services__item-name">The Rock</div>
          <ul class="services__sub-list list-reset">
            <li class="services__sub-item">3 Times A Week</li>
            <li class="services__sub-item">Full Zoom</li>
            <li class="services__sub-item">PDF Module</li>
            <li class="services__sub-item">Meal Preparation</li>
          </ul>
        </div>

        <div class="services__item-bottom">
          <div class="services__item-price"><span class="services__item-price--bold bold">Rp500.000</span>/month</div>
          <a href="#" class="services__item-link button">Workout Now</a>
        </div>
      </li>
      <li class="services__item">
        <div class="services__item-top">
          <div class="services__item-title">Standart</div>
          <picture>
            <source srcset="./img/services-item-img.avif" type="image/avif">
            <source srcset="./img/services-item-img.webp" type="image/webp">
            <img loading="lazy" src="./img/services-item-img.jpg" class="services__item-img" width="188" height="120"
              alt="Basic">
          </picture>
          <div class="services__item-name">Anna Jane</div>
          <ul class="services__sub-list list-reset">
            <li class="services__sub-item">4 Times A Week</li>
            <li class="services__sub-item">Full Zoom</li>
            <li class="services__sub-item">PDF Module</li>
            <li class="services__sub-item">Meal Preparation</li>
            <li class="services__sub-item">Suplement</li>
          </ul>
        </div>

        <div class="services__item-bottom">
          <div class="services__item-price"><span class="services__item-price--bold bold">Rp1.000.000</span>/month</div>
          <a href="#" class="services__item-link button">Workout Now</a>
        </div>
        <div class="services__item-popular">Popular</div>
      </li>
      <li class="services__item">
        <div class="services__item-top">
          <div class="services__item-title">Premium</div>
          <picture>
            <source srcset="./img/services-item-img.avif" type="image/avif">
            <source srcset="./img/services-item-img.webp" type="image/webp">
            <img loading="lazy" src="./img/services-item-img.jpg" class="services__item-img" width="188" height="120"
              alt="Basic">
          </picture>
          <div class="services__item-name">The Rock</div>
          <ul class="services__sub-list list-reset">
            <li class="services__sub-item">4 Times A Week</li>
            <li class="services__sub-item">Full Zoom</li>
            <li class="services__sub-item">PDF Module</li>
            <li class="services__sub-item">Meal Preparation</li>
            <li class="services__sub-item">Suplement</li>
            <li class="services__sub-item">Gym Equipment</li>
          </ul>
        </div>

        <div class="services__item-bottom">
          <div class="services__item-price"><span class="services__item-price--bold bold">Rp2.000.000</span>/month</div>
          <a href="#" class="services__item-link button">Workout Now</a>
        </div>
      </li>
    </ul>

  </div>
</section>