:root {
  --light-color: #fff;
  --accent-color: linear-gradient(97.1deg, #3043a9 11.99%, #1f629f 96.6%);
  --bg-color: #161d2f;
  --bg2-color: linear-gradient(90deg, #09203f 0%, #161d2f 100%);
  --black1-color: #262626;
  --black2-color: #222;
  --grey-color: #4b4b4b;
  --blue-color: #3043a9;
  --green-color: #63c776;
}
